/*按钮公用样式*/
.pure-button-a {
    background: #e1f2fa;
    color: #5992aa;
}

.pure-button-b {
    background: #fcebbd;
    color: #af9540;
}

.pure-button-c,
.pure-button-d,
.pure-button-e {
    border-radius: 8px;
}

.pure-button-f,
.pure-button-g,
.pure-button-h {
    border-radius: 20px;
}

.pure-button-c {
    background: #333;
    color: #fff;
}

.pure-button-d {
    background: #d3eda3;
    color: #72962e;
}

.pure-button-e {
    background: #f5ab9e;
    color: #8c3a2b;
}

.pure-button-f {
    background: #ddaeff;
    color: #8156a7;
}

.pure-button-g {
    background: #f57b00;
    color: #ffca95;
}

.pure-button-h {
    background: #008ed4;
    color: #fff;
}

.pure-button-blue {
    background: #099fde;
    color: #fff;
}

.pure-button-long {
    width: 100%;
    height: 44px;
}

.m-head {
    height: 48px;
    background-color: #099fde;
}

/**login模块**/
.m-login .pure-button {

}

.m-login .pure-form {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 110px;
}

.m-login .phone, .m-login .pwd {
    border-bottom: 1px solid #999;
}

.m-login .phone input, .m-login .pwd input{
    width:70%;
}

.m-login .forget {
    float: right;
}



