body {
    background: #f7f7f8;
}
.ellips {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.flex_container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex_container .flex_box {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}
.mb10 {
    margin-bottom: 10px;
}

.login {
    margin: 100px auto 0;
}
.login-list {
    margin-bottom: 30px;
}
.login-item {
    position: relative;
    margin-top: -1px;
    padding: 0 25px 0 140px;
    height: 50px;
    line-height: 50px;
    border-top: solid 1px #d8d8d9;
    border-bottom: solid 1px #d8d8d9;
    background: #fff;
}
.login-item .login-label {
    position: absolute;
    top: 0;
    left: 25px;
    width: 115px;
    font-size: 15px;
    color: #828282;
}
.login-item .login-text {
    width: 100%;
    padding-right: 15px;
    font-size: 15px;
    color: #565656;
}
.login-item.mb20 {
    margin-bottom: 20px;
}
.login-clear {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 15px;
    width: 30px;
    height: 100%;
}
.login-clear span {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 30px;
    top: 50%!important;
    left: 50%;
    margin: -8px 0 0 -8px;
    background: #b1b1b1;
}
.login-clear span:before,
.login-clear span:after {
    position: absolute;
    content: "";
    top: 4px;
    left: 7px;
    width: 2px;
    height: 8px;
    background: #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.login-clear span:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.btn-box {
    padding: 0 25px 10px;
}
.btn-box .register {
    margin-right: 25px;
    font-size: 15px;
    line-height: 40px;
    color: #555656;
    text-align: center;
    border: 4px solid #6190cc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fafafb;
}
.btn-box .submit {
    line-height: 48px;
    font-size: 15px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    background: #6190cc;
}
.login-forget {
    margin-right: 25px;
    text-align: right;
}
.login-forget a {
    color: #408ccb;
}
.login-other {
    border-top: #e1e1e2 solid 1px;
    position: relative;
    margin: 50px 25px 0;
}
.login-other .text {
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -90px;
    width: 180px;
    text-align: center;
    background: #f7f7f8;
}
.login-other ul {
    overflow: hidden;
    padding: 0 30px;
}
.login-other li {
    float: left;
    margin-top: 50px;
    width: 33.333333%;
    height: 50px;
}
.login-other li:nth-child(2){
    text-align: center;
}
.login-other li:nth-child(3){
    text-align: right;
}
.login-other li:before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../image/icon_login.png) no-repeat;
    background-size: 50px;
}
.login-other .icon-weixin:before {
    background-position: 0 0;
}
.login-other .icon-qq:before {
    background-position: 0 -50px;
}
.login-other .icon-weibo:before {
    background-position: 0 -102px;
}
.error-tips {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -100px;
    width: 200px;
    height: 44px;
    line-height: 44px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    background: rgba(0,0,0,.5);
}


/** 注册 **/
.send_code {
    margin-top: 5px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background: #6190cc;
}


/** 信息 **/
.border-list {
    border-top: #c9cacb solid 1px;
    border-bottom: #c9cacb solid 1px;
}
.course-list {
    margin-top: 10px;
}
.course-list li {
    position: relative;
    margin-top: -1px;
    padding: 0 15px 0 95px;
    height: 50px;
    line-height: 50px;
    border-top: #c9cacb solid 1px;
    border-bottom: #c9cacb solid 1px;
    background: #fff;
}
.course-list .label {
    position: absolute;
    top: 0;
    left: 15px;
    display: inline-block;
    width: 80px;
    font-size: 15px;
    line-height: 50px;
    color: #828282;
}
.course-list .text {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    color: #555656;
}
.course-list .num {
    display: inline-block;
    width: 55px;
    height: 40px;
    text-align: center;
    border-bottom: #e6e6e7 solid 1px;
}
.course-list .address {
    width: 100%;
}
.course-tips {
    color: #828282;
    margin: 5px 15px 10px;
}
.course-tips a {
    color: #418bcb;
}

.course-info-list li {
    margin: 10px;
    padding: 6px 15px;
    border: #828282 solid 1px;
    border-radius: 5px;
    background: #f2f2f2;
}
.course-info-list p {
    line-height: 2;
}
.course-info-list span {
    margin-right: 10px;
    font-size: 15px;
    color: #555656;
}
.course-info-list .add-item {
    padding: 13px 15px 11px;
    text-align: center;
}
.course-info-list .add-item span {
    color: #828282;
}
.course-info-list .add {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto 6px;
}
.course-info-list .add:before,
.course-info-list .add:after {
    position: absolute;
    content:"";
}
.course-info-list .add:before {
    top: 8px;
    left: 0;
    width: 20px;
    height: 2px;
    background: #a2a2a3;
}
.course-info-list .add:after {
    top: 0;
    left: 9px;
    width: 2px;
    height: 20px;
    background: #a2a2a3;
}
.course-about-list li {
    margin-bottom: 10px;
    padding: 10px 15px;
    background: #fff;
}
.course-about-list .title {
    font-size: 15px;
    color: #828282;
    margin-bottom: 5px;
}
.course-about-list p {
    color: #555656;
    margin-bottom: 5px;
}

.service-terms {
    margin: 20px 25px 10px;
}
.service-terms input {
    vertical-align: 1px;
    margin-right: 4px;
}
.service-terms a {
    color: #6190cc;
}
.btn-box .submit.mr25 {
    margin-right: 25px;
}
