body {
    background: #f7f7f8;
}
.ellips {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.flex_container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex_container .flex_box {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}
.border-list {
    border-top: #c9cacb solid 1px;
    border-bottom: #c9cacb solid 1px;
}
.border-item-b {
    border-bottom: #f3f3f4 solid 1px;
}
.arrow_r:before,
.arrow_b:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 19px;
    right: 15px;
    border-top: #a2a3a3 solid 2px;
    border-right: #a2a3a3 solid 2px;
}
.arrow_r:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.arrow_b:before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.mt10 {
    margin-top: 10px;
}
.mb10 {
    margin-bottom: 10px;
}

.header {
    height: 47px;
    line-height: 47px;
    text-align: center;
    background: #6190cc;
}
.header .back {
    position: absolute;
    padding: 0 20px;
    top: 0;
    left: 0;
}
.header .icon-back:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.header .title {
    padding: 0 50px;
    font-size: 18px;
    color: #fff;
}

/** 登录、注册、找回密码等 **/
.login {
    margin: 100px auto 0;
}
.login-list {
    margin-bottom: 30px;
}
.login-item {
    position: relative;
    margin-top: -1px;
    padding: 0 25px 0 75px;
    height: 50px;
    line-height: 50px;
    border-top: solid 1px #d8d8d9;
    border-bottom: solid 1px #d8d8d9;
    background: #fff;
}
.login-item .login-label {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 15px;
    color: #828282;
}
.login-item .login-text {
    width: 100%;
    padding-right: 15px;
    font-size: 15px;
    color: #565656;
    line-height: 1;
}
.login-clear {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 15px;
    width: 30px;
    height: 100%;
}
.login-clear span {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 30px;
    top: 50%!important;
    left: 50%;
    margin: -8px 0 0 -8px;
    background: #b1b1b1;
}
.login-clear span:before,
.login-clear span:after {
    position: absolute;
    content: "";
    top: 4px;
    left: 7px;
    width: 2px;
    height: 8px;
    background: #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.login-clear span:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.btn-box {
    padding: 0 25px 10px;
}
.btn-box .register {
    font-size: 15px;
    line-height: 32px;
    color: #555656;
    text-align: center;
    border: 4px solid #6190cc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fafafb;
}
.btn-box .register.mr {
    margin-right: 15px;
}
.btn-box .submit {
    line-height: 42px;
    font-size: 15px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    background: #6190cc;
}
.login-forget {
    margin-right: 25px;
    text-align: right;
}
.login-forget a {
    color: #408ccb;
}
.login-other {
    border-top: #e1e1e2 solid 1px;
    position: relative;
    margin: 30px 25px 0;
}
.login-other .text {
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -65px;
    width: 130px;
    text-align: center;
    background: #f7f7f8;
}
.login-other ul {
    overflow: hidden;
    padding: 0 30px;
}
.login-other li {
    float: left;
    margin-top: 35px;
    width: 33.333333%;
    height: 50px;
}
.login-other li:nth-child(2){
    text-align: center;
}
.login-other li:nth-child(3){
    text-align: right;
}
.login-other li:before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../image/icon_login.png) no-repeat;
    background-size: 50px;
}
.login-other .icon-weixin:before {
    background-position: 0 0;
}
.login-other .icon-qq:before {
    background-position: 0 -50px;
}
.login-other .icon-weibo:before {
    background-position: 0 -102px;
}
.error-tips {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -100px;
    width: 200px;
    height: 44px;
    line-height: 44px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    background: rgba(0,0,0,.5);
}


/** 注册 **/
.send_code {
    margin-top: 7px;
    width: 150px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background: #6190cc;
}


/** 信息 **/
.course-list li {
    position: relative;
    margin-top: -1px;
    padding: 0 15px 0 95px;
    height: 50px;
    line-height: 50px;
    border-top: #c9cacb solid 1px;
    border-bottom: #c9cacb solid 1px;
    background: #fff;
}
.course-list .label {
    position: absolute;
    top: 0;
    left: 15px;
    display: inline-block;
    width: 80px;
    font-size: 15px;
    line-height: 50px;
    color: #828282;
}
.course-list .text {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    color: #555656;
}
.course-list .num {
    display: inline-block;
    width: 28%;
    height: 40px;
    text-align: center;
    border-bottom: #e6e6e7 solid 1px;
}
.course-list .w {
    display: inline-block;
    width: 30px;
}
.course-list input {
    width: 100%;
}
.course-tips {
    color: #828282;
    margin: 5px 15px 10px;
}
.course-tips a {
    color: #418bcb;
}

.course-info-list li {
    margin: 10px;
    padding: 6px 15px;
    border: #828282 solid 1px;
    border-radius: 5px;
    background: #f2f2f2;
}
.course-info-list p {
    line-height: 2;
}
.course-info-list span {
    font-size: 15px;
    color: #555656;
}
.course-info-list .mr10 {
    margin-right: 10px;
}
.course-info-list .add-item {
    padding: 13px 15px 11px;
    text-align: center;
}
.course-info-list .add-item span {
    color: #828282;
}
.course-info-list .add {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto 6px;
}
.course-info-list .add:before,
.course-info-list .add:after {
    position: absolute;
    content:"";
}
.course-info-list .add:before {
    top: 8px;
    left: 0;
    width: 20px;
    height: 2px;
    background: #a2a2a3;
}
.course-info-list .add:after {
    top: 0;
    left: 9px;
    width: 2px;
    height: 20px;
    background: #a2a2a3;
}
.course-about-list li {
    margin-bottom: 10px;
    padding: 10px 15px;
    background: #fff;
}
.course-about-list .title {
    font-size: 15px;
    color: #828282;
    margin-bottom: 5px;
}
.course-about-list p {
    color: #555656;
    margin-bottom: 5px;
}
.course-about-list textarea {
    width: 100%;
    height: 78px;
    color: #555656;
}

.service-terms {
    margin: 20px 25px 10px;
}
.service-terms input {
    vertical-align: 1px;
    margin-right: 4px;
}
.service-terms a {
    color: #6190cc;
}
.btn-box .submit.mr {
    margin-right: 15px;
}


/** addCourse **/
.course-title {
    line-height: 40px;
    text-align: center;
    font-size: 16px;
}
.course-list.course-list2 li {
    padding-left: 125px;
}
.course-list.course-list2 .label {
    width: 110px;
}


/** guide **/
.guide-main {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -100px;
    width: 100%;
}
.guide-main .btn-box {
    padding-bottom: 30px;
}


/**  preferential **/
.course-list_mt {
    margin-top: 15px;
}
.btn-box_mt {
    margin-top: 25px;
}


/** messagecenter  **/
.project-list {
    margin: 10px;
}
.project-list li {
    padding: 0 15px;
    color: #555656;
    background: #fff;
}
.project-list .project-item {
    padding: 12px 15px 5px;
}
.project-list .project-item-link {
    position: relative;
    height: 48px;
    line-height: 48px;
}
.project-list p {
    margin-bottom: 8px;
    line-height: 16px;
}
.project-list .sign-time {
    text-align: right;
    color: #828282;
}
.project-list .project-item-link a {
    color: #4389c9;
}


/** 绑定邮箱 **/
.mail-binding-box {
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 10px 15px;
    background: #fff;
}
.mail-binding-box p {
    line-height: 30px;
    color: #858383;
}

/** changepassword **/
.login-item_mb {
    margin-bottom: 15px;
}


/** accountsettings **/
.account-setting_mt {
    margin-top: 15px;
}
.login-list.account-setting_mt .login-label {
    color: #545556;
}


/** share **/
.share-box {
    position: relative;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-170px);
    transform: translateY(-170px);
    color: #828282;
}
.share-code {
    text-align: center;
    margin-bottom: 30px;
}
.share-code-img  {
    display: block;
    margin: 0 auto;
    width: 85px;
    height: 40px;
    background: url(../image/code.png) no-repeat;
    background-size: 85px;
}
.share-code-text {
    display: block;
    font-size: 20px;
    color: #6292cd;
    line-height: 1.2;
    padding-top: 5px;
}
.share-tips {
    width: 210px;
    margin: 0 auto 40px;
}
.share-tips .detailed {
    color: #6192cd;
}


.personal-infor-tips {
    color: #828282;
    margin: 6px 15px 20px;
}

/** personalinfor **/
.personal-infor-mt {
    margin-top: 15px;
}


/** project **/
.project-about {
    margin-bottom: 8px;
    color: #333;
}
.project-about .orange {
    color: #ea5515;
}
.project-about .mr {
    margin-right: 5px;
}
.project-about .text {
    font-size: 12px;
}


/** activity **/
.course-list .label.activity-label {
    width: auto;
}


/** personalCenter **/
.personal-head {
    position: relative;
    height: 110px;
    background: #6190cc;
}
.personal-head .head {
    display: inline-block;
    margin: 19px 30px 0 20px;
    vertical-align: 27px;
}
.personal-head .head img {
    width: 72px;
    height: 72px;
}
.personal-head .name {
    font-size: 16px;
    color: #fff;
}
.personal-head.arrow_r:before {
    top: 50%;
    margin-top: -4px;
    border-top: #fff solid 2px;
    border-right: #fff solid 2px;
}
.personal-center-list.personal-center-list2 {
    overflow: hidden;
}
.personal-center-list.personal-center-list2 li {
    float: left;
    width: 50%;
    line-height: 46px;
    margin: 7px 0;
}
.personal-center-list.personal-center-list2 li:last-of-type {
    border-left: #dee6da solid 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.personal-center-list.personal-center-list2 .num {
    margin-left: 10px;
}
.personal-center-list {
    background: #fff;
}
.personal-center-list li {
    position: relative;
    line-height: 45px;
}
.personal-center-list .num {
    color: #6491cc;
}
.personal-center-list i {
    float: left;
    margin: 0 15px;
    width: 20px;
    background: url("../image/icon_personal.png");
    background-size: 20px;
}
.personal-center-list .icon-participate {
    margin-top: 15px;
    height: 18px;
    background-position: 0 0;
}
.personal-center-list .icon-initiate {
    margin-top: 15px;
    height: 17px;
    background-position: 0 -18px;
}
.personal-center-list .icon-message {
    margin-top: 16px;
    height: 13px;
    background-position: 0 -35px;
}
.personal-center-list .icon-discount {
    margin-top: 15px;
    height: 15px;
    background-position: 0px -47px;
}
.personal-center-list .icon-share {
    margin-top: 14px;
    height: 18px;
    background-position: 0px -63px;
}
.personal-center-list .icon-payment-binding {
    margin-top: 14px;
    height: 14px;
    background-position: 0px -80px;
}
.personal-center-list .icon-account-settings {
    margin-top: 14px;
    height: 16px;
    background-position: 0px -94px;
}


/** Guide2 **/
.training-meeting-main {
    background-color: #fff;
    text-align: center;
    height: 100%;
}
.entrance-box {
    position: relative;
    height: 50%;
}
.entrance-box .title {
    font-size: 16px;
    margin-bottom: 15px;
}
.entrance-box .text {
    color: #828282;
}
.icon-training,
.icon-meeting {
    display: block;
    margin: 0 auto 10px;
    background: url("../image/icon_guide.png");
    background-size: 40px;
    width: 40px;
    height: 38px;
}
.icon-meeting {
    background-position: 0 -38px;
    height: 41px;
}
.entrance-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: -54px;
}